<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
     <!-- <link rel="stylesheet" href='../static/content/style.css'/>-->

   </head>
   <body>
      <h1>{{ title }}</h1>
      <h3>{{Header1}}</h3>
      <h2>Temperature:  {{ Temperature }} *C</h1>
      <h3>Humidity: {{ Humidity }} %</h3>
      <h3>{{Header2}}</h3>
      <!--Display the sensor value and header function-->
      <h3>Computer1 activity: {{Comp1}} </h3>
      <h3>Computer2 activity: {{Comp2}} </h3>
      <h3>Computer3 activity: {{Comp3}} </h3>
      <h3>Computer4 activity: {{Comp4}} </h3>
      <h3>Computer5 activity: {{Comp5}} </h3>
      <h3>Computer6 activity: {{Comp6}} </h3>
      <h3></h3>
      <h3>{{Header22}}</h3>
      <h3>Computer1 active: {{lps1}}</h3>
      <h3>Computer2 active: {{lps2}}</h3>
      <h3>Computer3 active: {{lps3}}</h3>
      <h3>Computer4 active: {{lps4}}</h3>
      <h3>Computer5 active: {{lps5}}</h3>
      <h3>Computer6 active: {{lps6}}</h3>
      <h3>{{Header3}}</h3>
      <!--######################################################################################-->
      <h3>
               Fan control ==>
               <a href="/FanT1/on" class="button">Turn ON </a>
               <a href="/FanT1/off" class="button">Turn OFF </a>
      </h3>
      <h3>
                Computer1 control ==>
                <a href="/p1/on" class="button">Turn ON </a>
                <a href="/p1/off"class="button">Turn OFF </a>
            </h3>
            <h3>
                      computer2 control ==>
                   <a href="/p2/on" class="button">Turn ON </a>
                   <a href="/p2/off" class="button">Turn OFF </a>
            </h3>
            <h3>
                      Computer3 control ==>
                      <a href="/p3/on" class="button">Turn ON </a>
                      <a href="/p3/off"class="button">Turn OFF </a>
            </h3>
      
            <h3>
                      Computer4 control ==>
                      <a href="/p4/son"class="button">Turn ON </a>
                      <a href="/p4/soff"class="button">Turn OFF </a>
            </h3>
            <h3>
                Computer5 control ==>
                <a href="/p5/son"class="button">Turn ON </a>
                <a href="/p5/soff"class="button">Turn OFF </a>
      </h3>
      <h3>
                Computer6 control ==>
                <a href="/p6/on"class="button">Turn ON </a>
                <a href="/p6/off"class="button">Turn OFF </a>
      </h3>
      <h3>
                Computer All off line ==>
                <a href="/Allcom/Allon"class="button">All Poweron </a>
                <a href="/Allcom/Alloff"class="button">All Shutdown </a>

      </h3>
      <!--############################################################################################################-->
         <!-- Reset button pins -->
      <h3>
             Computer 1 reset ==>
             <a href="/Reset1/reset"class="button">Reset</a> <!--Reset the button option-->

            </h3>
      
            <h3>
                   Computer 2 reset ==>
                   <a href="/Reset2/reset"class="button">Rest</a>
      
            </h3>
              <h3>
                   Computer 3 reset ==>
                   <a href="/Reset3/reset"class="button">Reset</a> <!--Reset the button option-->
            </h3>
      
            <h3>
                   Computer 4 reset ==>
                   <a href="/Reset4/reset"class="button">Rest</a>
            </h3>
            <h3>
                Computer 5 reset ==>
                <a href="/Reset5/reset"class="button">Reset</a> <!--Reset the button option-->
         </h3>
   
         <h3>
               Computer 6 reset ==>
               <a href="/Reset6/reset"class="button">Rest</a>
         </h3>
   
   
         <h3>
               Computer All reset ==>
               <a href="/ResetAll/resetAll"class="button">Resetall</a>
         </h3>
         <!--#############################################################################################################################-->
   
            <!-- Refference of the Active device feed back get back on the python processing-->
        </body>
        <style>
        body {
                   background-image: url('../static/images/greennet.jpg');
           }
    
        h1 {
           color: cyan;
         }
        h2{
          color: cyan;
    
        }
        h3{
          color: cyan;
        }
        h4 {
           color: cyan;
         }
        h5{
          color: cyan;
    
        }
        h6{
          color: cyan;
        }
        h7 {
           color: cyan;
         }
        h8{
          color: cyan;
    
        }
        h9{
          color: cyan;
        }
    }
    h11{
      color: cyan;

    }
    h12{
      color: cyan;
    }

   </style>
   </body>
</html>        
